<admin-navbar></admin-navbar>
<div class="container-fluid" class="header-block"><a [routerLink]="['/admin']"> <span class="first">почетна</span> </a> / 
<a [routerLink]="['/admin-subdomen-list']"> <span >поддомени</span></a> / </div>

<div class="admin">
  <div class="container">
    <div class="block">
  <h1>{{  subdomenData.name  }}</h1>
      <form>
        <div class="form-group">
          <div class="col-md-12 row">
            <div class="col-md-4">
              <label for="nameSubdomen">Име на поддомен</label>
            </div>
            <div class="col-md-8">
              <input id="nameSubdomen" type="text" [(ngModel)]="subdomen" name="subdomen" class="form-control" placeholder="{{name}}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 row">
            <div class="col-md-4">
              <label for="descriptionSubdomen">Опис</label>
            </div>
            <div class="col-md-8">
              <textarea id="descriptionSubdomen" [(ngModel)]="descriptionsubdomen" type="text" name="description" class="form-control" placeholder="{{description}}"></textarea>
            </div>
          </div>
        </div>
         <div class="form-group">
            <div class="col-md-12 row">
              <div class="col-md-4">
                <label for="subdomen">Колони за анализа</label>
              </div>
              <div class="col-md-5 checkbox-box">
                <ul>
                  <li *ngFor="let subdomen of subdomensColumns">
                    <span>
                      <input type="checkbox" [checked]="frontChecked.indexOf(subdomen.key) >= 0"  #f type="checkbox" [value]="subdomen" name="subdomen"
                       (click)="getCheckboxVal($event, subdomen.key,  subdomen.subject)" ></span>
                      <span> {{ subdomen.subject }}</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-1" class="required">*</div>
              </div>
            </div>
        <div class="col-md-12">
<!--           <button class="btn btn-primary" (click)="addSubdomen(subdomen,descriptionsubdomen)">Submit</button>
 -->          <button class="btn btn-primary"  (click)="updateData(idSubdomen, subdomen, descriptionsubdomen)"> Ажурирај</button>
        </div>
      </form>
    </div>
  </div>
</div>
