<app-navigation></app-navigation>
<div class="container" style="text-align: justify;">
  <h6 class="title">{{"methodology"|translate}}</h6>
  <div class="col-md-12" [innerHTML]="'methodology_text'|translate">
    
  </div>
  <div class="col-md-12">
    <h6 class="title orangeText">{{"methodology_frame_title"|translate}}</h6>
    <p>{{"methodology_frame"|translate}}</p>
    <p><span style="font-family: ArsenalB;cursor: pointer" [routerLink]="['/dictionaryPage', 'domen_indicator0']">{{"gender_gap"|translate}}.</span> {{"methodology_gender_gap_desc"|translate}}:</p>
    <ol [innerHTML]="'methodology_gender_gap_indicators'|translate"></ol>
    <p><span style="font-family: ArsenalB; cursor:pointer;" [routerLink]="['/dictionaryPage', 'domen_indicator1']">{{"enabling_conditions"|translate}}. </span>{{"methodology_enabling_conditions"|translate}}: </p>
    <ol [innerHTML]="'methodology_enabling_conditions_indicators'|translate">
      
    </ol>
    <p><span style="font-family: ArsenalB;cursor: pointer;" [routerLink]="['/dictionaryPage', 'domen_indicator1']">{{"gender_responsive_mun"|translate}}. </span>{{"methodology_gender_responsive_mun"|translate}}:</p>
    <ol [innerHTML]="'methodology_gender_responsive_mun_indicators'|translate">
    </ol>
  </div>
  <div class="col-md-12">
    <h6 class="title orangeText">{{"methodology_index_calc"|translate}}</h6>
    <div [innerHTML]="'methodology_index_1_calc'|translate"></div>
      
    <div [innerHTML]="'methodology_index_2_calc'|translate">
      
    </div>
    <div [innerHTML]="'methodology_index_3_calc'|translate">
      
    </div>
  </div>
  <div class="" style="margin: 50px;
    font-size: 8px;
    margin-left: 15px;"> <sup>1</sup> Joint Research Centre-European Commission. (2008). Handbook on constructing composite indicators: methodology and user guide. OECD publishing.</div>
</div>
<app-footer></app-footer>
