<admin-navbar></admin-navbar>
<div class="container-fluid" class="header-block"><a [routerLink]="['/admin']"> <span class="first">почетна</span> </a> / 
  <a [routerLink]="['/admin-year-list']"> <span >години</span></a> / </div>
  <div class="admin">
    <div class="container">
      <div class="block">
        <form>
          <div class="form-group">
            <div class="col-md-12 row">
              <div class="col-md-4">
                <label for="nameDomen">Година </label>
              </div>
              <div class="col-md-5">
                <input id="nameDomen" type="number" [(ngModel)]="year" name="year" class="form-control" placeholder="{{ year }}">
              </div>
            </div>
          </div>

          <!-- old code -->
          <div *ngIf="year==2016">
        <div class="form-group">
          <div class="col-md-12 row">
            <div class="col-md-4">
              <label for="subdomen">Домен</label>
            </div>
            <div class="col-md-5 checkbox-box">
              <ul>
                <li *ngFor="let domen of domeni1 | async">
                 <span>
               
     				 <input [checked]="checkedValueDomeni.indexOf(domen.key) >= 0"  #f type="checkbox" [value]="domen" name="domen"  
     				 (click)="getCheckboxValDomen($event, domen.key,  domen.val.name)" >
     				   </span>
     				  <span> {{ domen.val.name }}</span>
              
                </li>
              </ul>
            </div>
          </div>
        </div>


         <div class="form-group">
          <div class="col-md-12 row">
            <div class="col-md-4">
              <label for="subdomen">Субдомени</label>
            </div>
            <div class="col-md-5 checkbox-box">
              <ul>
                <li *ngFor="let subdomen of subdomeni | async">
                 <span>
               
             <input [checked]="checkedValueSubdomeni.indexOf(subdomen.key) >= 0"  #f type="checkbox" [value]="subdomen" name="subdomen"  
             (click)="getCheckboxValSubdomen($event, subdomen.key,  subdomen.val.name)" >
               </span>
              <span> {{ subdomen.val.name }}</span>
             
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
        <!-- end old code 2016 -->

<div *ngIf="year>2016">
        <div class="form-group">
          <div class="col-md-12 row">
            <div class="col-md-4">
              <label for="subdomen">Домен</label>
            </div>
            <div class="col-md-7 checkbox-box" style="height: 100%!important">
              <ul >
                <li *ngFor="let domen of domeni; let i = index ">
                  <span style="font-weight: bold;padding-bottom: 10px;display: block;background:#eff4fe"> 
                   <!--   <input type="checkbox" (click)="getCheckboxValDomen($event, domen.key,  domen.val.name)"> -->

                   {{domen.val.name}} </span>

                   <ul style="padding-left: 10px"> 
                    <li *ngFor="let subdomen of domen.subs">
                      <span>

                       <input [checked]="checkedValueSubdomeni.indexOf(subdomen.key) >= 0"  #f type="checkbox" [value]="subdomen" name="subdomen"  
                       (click)="getCheckboxValSubDomen($event, domen, subdomen, subdomen.key,  subdomen.value.name, domen.key, domen.val.name)" >
                     </span>

                     <span>{{subdomen.value.name}}</span>
                   </li>
                 </ul>



               </li>
             </ul>
           </div>
           
         </div>
       </div>

       </div>



       <div class="col-md-12">
        <button class="btn btn-primary" (click)="updateYear(idYear, year)">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>
