<app-navigation></app-navigation>
<div class="container">
	<h6 class="title">{{"contact"|translate}}</h6>
	<div class="staticPage col-md-12" style="text-align: center;min-height:70vh ">
		<div class="contactPage">
		<div>{{"reactor"|translate}}</div><br>
			<div class="contact"><i class="fas fa-link"></i>  <span>www.reactor.org.mk</span></div>
			<div class="contact"><i class="fas fa-envelope"></i>  <span> info@reactor.org.mk</span></div>
			<div class="contact"><i class="fas fa-phone"></i>  <span >+3892 3245 536</span></div>
		</div>
	</div>
</div>
<app-footer></app-footer>
